#main-body {
    background:lightcyan;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: olive;
    text-align: center;
}

h3 {
    color:darkblue;
    text-align: center;
}

#print-hello {
    color: darkblue;
}

/* building the star from https://www.coding-dude.com/wp/css/css-star/ */
.five-pointed-star {
    --star-color:black;
    margin:1em auto;
    font-size:3em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}
.five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
}
.five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
}

/*columns*/
#col1of3, #col2of3, #col3of3 {
    background-color: plum;
    border: 1px solid darkblue;
    padding: 5px;

    
}

@media (min-width: 800px) {
    .flex-container {
        display: flex;
    }

    #col1of3, #col2of3, #col3of3 {
        flex: 1;
        margin: 20px;
    }
}