#main-body {
    background:lightcyan;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: olive;
    text-align: center;
}

h3 {
    color:darkblue;
}

/*columns*/
#col1of3, #col2of3, #col3of3 {
    background-color: plum;
    border: 1px solid darkblue;
    padding: 5px;

    text-align: center;
}

@media (min-width: 800px) {
    .flex-container {
        display: flex;
    }

    #col1of3, #col2of3, #col3of3 {
        flex: 1;
        margin: 20px;
    }
}