:root {
    --h1-color: blue;
    --h2-color: crimson;
    --some-text-color: white;
    --ex2-color: lightpink;
    --exercise-background: dimgray;
    --heart-fill-color: white;
    --img-color: lightskyblue;
    --arrow-color: black;
}

body {
    background: var(--img-color);
}

#content {
    width: 350px;
    margin: auto;
}

header {
    text-align: center;
}

h1 {
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}

h3 {
    color: var(--some-text-color);
}

p {
    color: var(--some-text-color);
}

#container1 {
    text-align: center;
    margin: auto;
}

#exercise1, #exercise2 {
    margin: auto;
    border: 1px solid var(--h1-color);
    background: var(--exercise-background);
    padding: 15px;
}

#img-container {
    background: var(--img-color);
    width: 120px;
    margin: auto;
    padding: 1px;
}

#exercise2 {
    height: 183.5px;
}

#exercise2 h3 {
    text-align: center;
    color: var(--ex2-color);
}

/* building the heart from https://codepen.io/stellina91/pen/kMReJe */
.heart{
    position: relative;
    width: 100px;
    height: 90px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: var(--heart-fill-color);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.hidden {
    display:none;
}

footer p{
    color: var(--h1-color);
    text-align: center;
}

.hide-small {
    display:none;
}

/* Navigation */
#main-nav {
    background-color: var(--img-color);
    text-align: left;
}
#toggle-nav-ex1, #toggle-nav-ex2 {
    font-size: 20px;
}

#toggle-nav-ex1 p, #toggle-nav-ex2 p {
    color: var(--arrow-color);
    margin-bottom: 0;
}
#nav-items-ex1, #nav-items-ex2 {
    margin-top: 20px;
}

#nav-items-ex1 p, #nav-items-ex2 p{
    margin: 1px;
    color: var(--h1-color);
    cursor: pointer;
}

@media (min-width: 862px) {
    #toggle-nav-ex1, #toggle-nav-ex2 {
        display: none;
    }

    .hide-small {
        display:flex;
    }

    .nav-items {
        display: flex;
        justify-content: center;
    }

    .nav-items p:not(:last-child)::after{
        content: " | ";
        padding-right: 5px; 
        
    }
}