:root {
    --heart-fill-color: white;
}

body {
    background: lightskyblue;
}

#content {
    width: 350px;
    margin: auto;
}

header {
    text-align: center;
}

h1 {
    color: blue;
}

h2 {
    color: crimson;
}

h3 {
    color: white;
}

p {
    color: white;
}

#container1 {
    text-align: center;
    margin: auto;
}

#exercise1, #exercise2 {
    margin: auto;
    border: 1px solid blue;
    background: dimgray;
    padding: 15px;
}

#img-container {
    background: lightskyblue;
    width: 120px;
    margin: auto;
    padding: 1px;
}

#exercise2 {
    height: 183.5px;
}

#exercise2 h3 {
    text-align: center;
    color: lightpink;
}

/* building the heart from https://codepen.io/stellina91/pen/kMReJe */
.heart{
    position: relative;
    width: 100px;
    height: 90px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: var(--heart-fill-color);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.hidden {
    display:none;
}

footer p{
    color: blue;
    text-align: center;
}

.hide-small {
    display:none;
}

/* Navigation */
#main-nav {
    background-color: lightskyblue;
    text-align: left;
}
#toggle-nav-ex1 div, #toggle-nav-ex2 div {
    width:25px;
    height:2px;
    background-color: blue;
    margin: 6px 0;
}

#nav-items-ex1, #nav-items-ex2 {
    margin-top: 20px;
}

#nav-items-ex1 p, #nav-items-ex2 p{
    margin: 1px;
    color: blue;
}


@media (min-width: 862px) {
    #toggle-nav-ex1, #toggle-nav-ex2 {
        display: none;
    }

    .hide-small {
        display:flex;
    }
}