/* Structure */
body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background-color: aliceblue;
    width:70%;
    margin:auto; /* center */
    padding: 5px;
    border: 1px solid darkblue;
    border-radius:10px;
    box-shadow: 5px 5px gray;
}

header, footer {
    background-color: burlywood;
    color:white;
}

/*Navigation */
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none; /*remove the bullets */
    background: sienna;
    text-align: center;
    border-bottom: 1px solid white;
}

#main-nav a {
    color:white;
    text-decoration: none; /* remove the underlines */
    border-bottom:1px solid transparent;
}

#main-nav a:hover {
    color:blue;
    border-bottom:1px solid white;
}

/* Typography */
header h1 {
    text-align: center;
}

footer p {
    text-align: center;
}

/* Larger Screens */
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }

    #main-nav li {
        flex: 1; 
    }

    #main-nav li:not(:last-child) {
        border-right: 1px solid white;
    }
}