:root {
    --header-footer-color: peru;
    --h2-color: brown;
    --columns-background: darksalmon;
    --popup-background: indianred;
    --popup-color: darkred;
}    
body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin:auto; /* center */
}

header, footer {
    text-align: center;
    padding: 5px;
    color:var(--header-footer-color);
}

h2 {
    color: var(--h2-color);
}

#pizza-list {
    background: var(--columns-background);
    display: flex;
}

.pizza {
    padding: 5px;
    margin: 5px;
    color: var(--h2-color);
    flex: 1;
    text-align: center;
}

#display-popup {
    background:var(--popup-background);
    width: 70%;
    margin: auto;
    padding: 10px;
}

.pizza-info {
    display:flex;
}

.pizza-info img {
    margin-left: 650px;
}

.hidden {
    display: none;
}

h4 {
    font-size: larger;
    color:var(--popup-color);
}

p {
    white-space: pre-line;
    color: var(--popup-color);
}

#close {
    position: absolute;
    text-align: right;
    cursor: pointer;
    right: 10px;
    color: var(--header-footer-color);
}