/* Structure */
body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main-header {
    background: black; 
    padding: 5px;
}

#main-footer {
    background: darkred;
    padding: 5px;
    color: white;
}



.two {
    border-top: 1px solid gray;
}

.main-img {
    text-align: center;
}

.style {
    padding: 5px;
    margin: 20px;
    border: 1px solid transparent;
    display: flex;
    flex: 1;
}

.idea-img {
    padding: 5px;
}

.style2 {
    border-bottom: 1px solid gray;
    margin: 20px;
    display: flex;
    flex: 1;
}

#category {
    padding: 5px;
    margin: 20px;
}


/*Navigation */
#main-nav {
    background: black;
    width: 100%;
    text-decoration: none;
}

#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    background: black;
    border-bottom: 1px solid white;
    padding: 5px;
}

#main-nav a {
    color:white;
    text-decoration: none; /* remove the underlines */
    border-bottom:1px solid transparent;
}

#main-nav a:hover {
    color:red;
}

.college li {
    list-style-type: none;
    background: darkred;
    padding: 5px;

}

.college a {
    color: white;
    text-decoration: none;
}

#category ul {
    padding-left: 0;
}

#category li {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    display: inline;
}

#end {
    background: lightgray;
    padding: 1px;
    display: flex;
}

#end ul {
    font-size: small;
    text-align: right;
    
}

#end li{
    list-style-type: none;
    text-decoration: none;
    display: inline;
    
}

#end a {
    color: black;
    text-decoration: none;
    padding: 3px;
    
}

#footer-nav li {
    list-style-type: none;
    padding: 5px;
}

#footer-nav a {
    color:white;
    text-decoration: none; /* remove the underlines */
    border-bottom:1px solid transparent;
}

/* Typography */
header h1 {
    text-align: center;
}

footer p {
    text-align: center;
}

h3, h4 {
    color: darkred;
}

h5 {
    font-size: large;
    color: black;
}

/* Larger Screens */
@media only screen and (min-width: 900px) {
    .flex-container, .two, .style, .columns, .news {
        display: flex;
    }

    #main-header {
        margin: auto;
    }

    #main-nav ul{
        text-align: right;
        font-size: smaller;
    }

    #main-nav li {
        border-bottom: none;
        padding: 5px;
        display: inline;
        text-align: right;
    }

    .college li {
        font-size: larger;
    }

    .style {
        flex-wrap: wrap;
    }

    .two {
        width: 70%;
        margin-left: 30%;
        border-top: 1px solid gray;
    }
    
    #part1 p {
    
        width: 47%;
        margin-left: 30%;
        
    }

    .style2 {
        width: 70%;
        margin-left: 30%;
        border-bottom: 1px solid gray;
    }

    #category {
        width: 70%;
        margin-left: 30%;
    }

    #end {
        margin: auto;
    }

    #end h5{
      color: black;
    }

    #footer-nav ul{
        text-align: right;
        font-size: smaller;
    }

    #footer-nav li {
        border-bottom: none;
        padding: 5px;
        display: inline;
        text-align: right;
    }

}