/* Structure */
body {
    background-color: blanchedalmond;
}

#main-header h1 {
    color: teal;
}

#main-content h2 {
    color: teal;
    width: 70%;
    margin:auto; /* center */
    padding: 20px;
}

.column1of3 {
    background-color: teal;
    color: blanchedalmond;
    width: 70%;
    padding: 10px;
    margin: 5px;
    margin: auto; /*center */
}

.column2of3 {
    background-color: salmon;
    color: blanchedalmond;
    width: 70%;
    padding: 10px;
    margin: 5px;
    margin:auto; /* center */
}

/* Navigation */
#main-nav ul {
    padding: 0;
    text-align: center;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: salmon;
    border-bottom: 1px solid teal;
}

#main-nav a {
    text-decoration: none;
    color: white;
}

/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
}

#main-content h2 {
    color: teal;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul, .flex-container {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }
}
