/* Structure */
body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    color: teal;
}

h2 {
    color: teal;
    width: 70%;
    margin:auto; /* center */
    padding: 20px;
}

#firstDiv {
    background-color: teal;
    color: blanchedalmond;
    width: 70%;
    margin:auto; /* center */
    padding: 10px;
}

/* Navigation */
#main-nav ul {
    padding: 0;
    text-align: center;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: salmon;
    border-bottom: 1px solid teal;
}

#main-nav a {
    text-decoration: none;
    color: white;
}

/* Typography */

#main-header h1 {
    text-align: center;
}

#main-content h2 {
    color: white;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul, .flex-container {
        display: flex;
    }

    #main-nav li, .columns1of2, .columns1of3, .column1of4 {
        flex: 1;
    }
    .columns2of3, .column2of4 {
        flex: 2;
    }
}