/* Structure */
body {
    background-color: blanchedalmond;
    border: 1px solid teal;
}

.idea {
    background:teal;
}

.idea:nth-child(odd) {
    background:salmon;
}

.two {
    background-color: cornflowerblue;
    text-align: center;
}

.one {
    background-color: salmon;
}

.three {
    background-color:cornflowerblue;
    text-align: center;
}

ul {
    list-style-type: none;
}

#main-footer {
    text-align: center;
    color: teal;
}

/* Navigation */
#main-nav ul {
    padding: 0;
    text-align: center;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: salmon;
    border-bottom: 1px solid teal;
}

#main-nav a {
    text-decoration: none;
    color: white;
}

/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
    color: teal;
}

#main-content h2 {
    color: teal;
    width: 70%;
    margin: auto; /* center */
    padding: 5px;
}

.idea {
    color: blanchedalmond;
    width: 70%;
    margin: auto;
    padding: 5px;
}

.two {
    color: white;
    padding: 5px;
}

.one {
    color: white;
    padding: 5px;
}

.one h4 {
    margin-left: 40px;
}

.three {
    color: white;
    padding: 5px;
}

a {
    color: white;

}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul, .columns {
        display: flex;
    }

    .wrap {
       flex-wrap: wrap;
    }

    #main-nav li {
        flex: 1;
        border-right: 1px solid teal;
    }

    .two-cols-kids div {
        max-width:40%;
    }

    .two {
        flex:2;
    }

    .one {
        flex: 1;
    }

    .three-cols-kids div {
        max-width:30%
    }

    .three {
        flex:3;
    }
    
}
