:root {
    --background-color: darkslategray;
    --main-header-color: lightskyblue;
    --sub-head-color: plum;
}

body {
    background: var(--background-color);
}

h1, #image-credit a {
    color: var(--main-header-color);
}

h2, #image-credit {
    color: var(--sub-head-color);
}

#content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#popup {
    background: darkmagenta;
    width: 400px;
    margin: auto;
}

#close {
    text-align: right;
}

.title {
    list-style-type: none;
    margin-top: 20px;
    color: var(--main-header-color);
}

.hidden {
    display: none;
}